<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
        <h4 style="margin-top:0;font-weight: bold">Experience</h4>
    		<p>
          Have over 13 years of experience in the software industry and have designed, developed, architected 
          a number of large scale enterprise applications over the years. 
        </p>
        <p>
          While I'm a proficient full-stack developer, my expertise is in bigdata processing, building scalable backend microservices and cloud computing.
        </p>
        <p> 
          Currently serving as <strong>Technology Manager, Engineering</strong> at Nielsen and manage 2 teams comprising of (including offshore in India).
        </p>
        <p>
          In the current position, I am responsible for building 2 large scale applications which are considered highly critical.
        <p>
          Architecting solutions for a variety of functional problems, developing and managing has provided me an opportunity for all around career development.
        </p>
        </p>
      </div>
	    <div class="col-sm-6">
		    <h4 style="margin-top:0;font-weight: bold">Highlights</h4>
    			<p>
            Experience Building several E2E full stack client facing applications adopting the latest technologies with hands on development while managing multiple teams.
          </p>
          <p>
            Worked on & solutioned several major projects using <strong>Apache Spark, Trino</strong> and related Bigdata products.
          </p>
          <p>
            Proficient in building performant large scale applications using Microservices based architecture.
          </p>
          <p>
            Received <strong>Simply Excellent</strong> awards 10 times so far including the <strong>Platinum Award</strong> at Nielsen for outstanding contributions.
          </p>
    			<p>
            Presented a organization level Nielsen White paper on big data search using Apache Solr.
          </p>
	    </div>
    </div>
  </div>
</section>
