<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 10 years of experience as a software developer and architect 
            on a number of large scale enterprise applications. 
        </p>
        <p>
          While I'm a proficient full-stack developer, my expertise is in bigdata processing, building scalable backend microservices and cloud computing.
        </p>
        <p> 
           I love building things and learning new technologies all the time.
        </p>
        <p>
          I'm always curious to understand real customer business needs and build scalable and performant solutions.
        </p>
        <p>
          I'm looking for a senior solutions architect role where I can take on building scalable, resilient architectures 
          for software applications dealing with Bigdata and also assume team leadership responsibilites, while gaining experience with
          project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Built a custom scaling cluster for applications running 24/7 on AWS EC2, scaling to meet performance with a excellent 
            cost saving approach. Projected to save atleast $30k/quarter as an alternative to EMR. The application was built using Spring Boot 
            which manages application metrics and as well scaling for the hardware resources
          </li>
          <li>
            Worked on several proof-of-concepts using Apache Spark, Livy and Airflow for Big Data orchestration pipelines.
          </li>
          <li>
            Automated and built test automation for reporting applications producing 1000's of reports per day, saving hundreds of developer\tester hours.
    			<li>
            Presented a organization level Nielsen White paper on big data search using Apache Solr during 2015.
    			</li>
    			<li>
            Awarded "Simply Excellent - Nielsen" 5 times in a span of 2 years at Nielsen
    			</li>
        </ul>
	    </div>
    </div>
  </div>
</section>
