<section class="tout" id="interests">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
             <h2>Interests</h2>
            <hr />
        </div>
		</div>
        <div class="row">
        	<div class="col-sm-6">
				<p>
					My professional interests include:
				</p>
				<ul>
				<li>
					<b>Big Data and Distributed Processing</b>. Data is the new gold. 
					Dealing with Big Data and making that data useful is a tricky job and that makes life interesting. Distributed processing of huge data sets and analysing them with performance efficient tools interests me. 
				</li>
				<li>
					<b>DevOps</b>. It's the time for Dev Ops with Infrastructure as Code and Automated Pipelines with continous integration, testing and Deployments onto the Cloud. 
					Have managed the complete DevOps initiative for my team and always curious about what's new on this area
				</li>
				<li>
					<b>Cloud Computing</b>. Everything runs on the cloud these days. Right from deploying a webapp in minutes, this has been always a learning and interesting item for me. I have proficient knowledge on several services of AWS. Next learning would be GCP
				</li>
				<li>
					<b>Future of AI</b>. Recent advances in AI intrigues me, very curious on the opportunities with AI and looking forward to learning and building a few projects.
				</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<p>
					My personal interests include:
				</p>
				<ul>
				<li>
					<b>Photography</b>. Novice photographer. Learning the art of photography.
				</li>
				<li>
					<b>Photoshop</b>. Always was interested in Photoshop and related tools. Right from editing photos to making invitiations for family functions, I have always loved doing this.
				</li>
				<li>
					<b>Travel</b>. Have always loved travelling. Idea of visiting the mountains in the U.S during Fall amazes me.
				</li>
				</ul>
			</div>
    	</div>
  </div>
</section>
