<section class="tech" id="tech">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Tech Stack</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-lg-12">
		    <p>
			  Full Stack development experience. Hands on experience on building customer facing applications using modern technical stack:
            </p>
            <div class="row">
              <div class="col-sm-4">
                <dl>
                    <dt>Big Data</dt>
                    <dd>Apache Spark</dd>
                    <dd>Presto | Trino</dd>
                    <dd>Hadoop, YARN, Sqoop, Livy, Hive etc</dd>
                    <dd>Elastic Search and Apache Solr</dd>
                </dl>
              </div>
              <div class="col-sm-4">
                <dl>
                  <dt>Frameworks & Languages</dt>
                  <dd>Spring Boot and Microservices</dd>
                  <dd>Restful Webservices</dd>
                  <dd>Java</dd>
                  <dd>Scala</dd>
                </dl>
              </div>
              <div class="col-sm-4">
                <dl>
                  <dt>DevOps and Infrastructure as Code</dt>
                  <dd>Kubernetes</dd>
                  <dd>Docker</dd>
                  <dd>Jenkins and Gitlab CICD</dd>
                  <dd>Hashicorp Terraform and Vault</dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <dl>
                  <dt>Front End</dt>
                  <dd>Node JS</dd>
                  <dd>Angular JS and Java Scripting</dd>
                  <dd>Sencha ExtJS</dd>
                </dl>
              </div>
              <div class="col-sm-4">
                <dl>
                  <dt>Cloud</dt>
                  <dd>AWS services such as EKS, ECS, EC2, EBS, EFS, Lambda, Fargate, DataLake, S3, Route53 and more</dd>
                </dl>
              </div>
              <div class="col-sm-4">
                <dl>
                  <dt>Orchestration Tools</dt>
                  <dd>Airflow</dd>
                  <dd>Tibco</dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <dl>
                  <dt>AI & Machine Learning</dt>
                  <dd>Generative AI</dd>
                  <dd>LangChain</dd>
                  <dd>GPT, Bard</dd>
                </dl>
              </div>
              </div>
            </div>
           </div>
        </div>
</section>
